<div class="col-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
  <%= link_to text_path(text.id) do %>
      <div class="card-body">
        <div class="text_img"><%= image_tag("no_image")  %></div>
      <p id="text-<%= text.id %>">
        <% if text.read_progressed_by?(current_user) %>
          <%= render "read_progress", text: text %>
        <% else %> 
          <%= render "not_read_progress", text: text %>
        <% end %>
      </p>    
        <p class="card-text mt-3"><%= text.title %></p>
        <p>【<%= text.genre_i18n %>】</p>
    </div>
  <% end %>
  </div>
</div>
